<div class="navbar navbar-fixed-top">
    <div>
        <div class="container-fluid">
            <a class="navbar-brand"><%-strings.appName%></a>
            <div class="navbar-collapse">
                <% if (showLogout) { %>
                    <ul class="navbar-nav">
                        <li><a href="<%=logoutUri%>"><%-strings.logout%></a></li>
                    </ul>
                <% } %>
                <ul class="navbar-nav pull-right banner"></ul>
            </div>
        </div>
    </div>
</div>
