<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only"><%=secondaryButtonText%></span>
      </button>
      <h4 class="modal-title"><%-title%></h4>
    </div>
    <div class="modal-body"></div>
    <% if (showFooter) { %>
      <div class="modal-footer">
        <% if(actionButtonText) { %>
          <button type="button" class="btn btn-w-m modal-action-button <%=actionButtonClass%>"><%-actionButtonText%></button>
        <% } %>
        <button type="button" class="btn btn-white btn-w-m" data-dismiss="modal"><%=secondaryButtonText%></button>
      </div>
    <% } %>
  </div>
</div>